body {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #555555;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#left-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: -30px;
}

#left-menu li {
  padding-right: 10px;
}

#right-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#right-menu li {
  padding: 10px;
}

nav .about {

}

nav .account-info {

}

#account .gb_Ka {
  border-radius: 50%;
}

#searchbar {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #dddddd;
}

.searchbar-graphics #mag-glass {
  width: 38px;
}

.searchbar-graphics #mic {
  width: 18px;
}

.searchbar-buttons {
  border-style: none;
  border-width: 0px;
}

.searchbar-buttons button {
  background-color: hsl(0, 0, 90%);
  color: #555555;
  margin: 4px;
  padding: 10px 18px 10px 18px;
  border-radius: 5px;
  border: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eeeeed;
  border-top: 1px solid lightgray;
  font-size: 15px;
}

#press-info {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: -30px;
}

#press-info li {
  padding: 10px;
}

#site-info {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#site-info li {
  padding: 10px;
}
